@import url(../../fonts/font-awesome/fontawesome.css);
@import url(../../fonts/flaticon/flaticon.css);

/*=====================================
            SECTION HEADING STYLE
======================================*/
.section {
  padding: 100px 0px 0px;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.title {
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 2px;
  border-radius: 30px;
  background: var(--brandcolor);
}

.title::after {
  position: absolute;
  content: "";
  top: 70%;
  right: -55px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35px;
  height: 2px;
  border-radius: 30px;
  background: var(--brandcolor);
}

@media (max-width: 767px) {
  .section {
    padding: 60px 0px 0px;
  }
  .section-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .section-heading h2 {
    margin-bottom: 45px;
  }
  .title::before, .title::after {
    top: 0px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .title::before {
    top: 50px;
  }
  .title::after {
    top: 55px;
  }
}




/*=====================================
            BANNER PART STYLE
======================================*/
.banner-part .dandik,
.banner-part .bamdik {
  top: 50%;
}

.banner-part .dandik {
  right: 0px;
}

.banner-part .bamdik {
  left: 0px;
}

.banner-1 {
  background: url(../../images/banner/jagung.1.png) ;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  padding: 150px 0px;
  position: relative;
}

.banner-1::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 186, 71, 0.3)), to(rgba(85, 173, 65, 0.1)));
  background: linear-gradient(rgba(93, 186, 71, 0.3), rgba(85, 173, 65, 0.1));
  z-index: -1;
}

.banner-content-1 {
  width: 650px;
  margin: 0px auto;
  /* text-align: center; */
  
}

.banner-content-1 h1 {
  color: var(--whitecolor);
  margin-left: 5px;
}

.banner-content-1 p {
  font-size: 18px;
  color: var(--whitecolor);
  margin-bottom: 25px;
}

.banner-2 {
  background: url(../../images/banner/jagung.2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0px;
  position: relative;
}

.banner-2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 186, 71, 0.3)), to(rgba(85, 173, 65, 0.1)));
  background: linear-gradient(rgba(93, 186, 71, 0.3), rgba(85, 173, 65, 0.1));
  z-index: -1;
}

.banner-content-2 {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.banner-content-2 h1 {
  margin-bottom: 25px;
  color: var(--whitecolor);
}

.banner-content-2 p {
  font-size: 18px;
  margin-bottom: 45px;
  color: var(--whitecolor);
}

.banner-3 {
  background: url(../../images/banner/jagung.3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0px;
  position: relative;
}

.banner-3::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 186, 71, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(rgba(93, 186, 71, 0.3), rgba(85, 173, 65, 0.1));
  z-index: -1;
}

.banner-content-3 h1 {
  width: 650px;
  margin-bottom: 25px;
  color: var(--whitecolor);
}

.banner-content-3 p {
  font-size: 18px;
  margin-bottom: 45px;
  color: var(--whitecolor);
}

@media (max-width: 767px) {
  .banner-part.slider-dots ul {
    bottom: 40px;
  }
  .banner-1 {
    padding: 70px 0px;
    background-position: right;
  }
  .banner-content-1 h1 {
    font-size: 32px;
  }
  .banner-2 {
    padding: 70px 0px;
    background-position: top;
  }
  .banner-content-2 {
    width: 100%;
  }
  .banner-content-2 h1 {
    font-size: 32px;
  }
  .banner-3 {
    padding: 70px 0px;
    background-position: left;
  }
  .banner-content-3 h1 {
    font-size: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-content-1 h1,
  .banner-content-3 h1,
  .banner-content-3 h1 {
    font-size: 50px;
  }
}
article {
  width: 99,6%; 
  height: auto;
  margin: 2px 2px 2px 2px;
  border-radius: 5px;
  border: 1.5px solid rgb(0, 0, 0);
}
article p {
  padding: 5px 6px 5px 5px; 
  line-height: 1.5;
  
}
article .isi {
  width: 100%; 
  height: auto;
  margin: 0px 5px 5px 5px; 
  color: black;
  
}
article .isi .judul {
  font-size:x-small; 
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}
article .isi img {
  margin-bottom: 20px;
  margin-top: 20px;
  width:250px;
  height:150px;
  margin-left: 480px;
  border-radius: 10px;
  border: 1.5px solid rgb(8, 8, 8);
}

.contrainer{
  margin-top: 15px;
  display: flex; 
  justify-content:center;
  gap: 30px;
  width: 100%;
  flex-wrap:wrap;
  padding-bottom: 30px;
}
.contrainer .card{
  border: 1px solid black ;
  width: 370px;
  text-align: center;
}
.contrainer .card img{
  height: 230px;
}
article h1{
  text-align: center;
}